{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">sr.ht</a></h1>
    <h4>Donations</h4>
</div>
<hr />
<p>All members are expected to donate if they are able and there is a deficit. Not much
is needed but the success of the site depends on everyone. sr.ht costs $50/year
for the certificate and $129/year for the domain. Hosting is free, I work at a VPS company.</p>
<h3 class="text-center">Current Status</h3>
<h2 class="text-center">$-177</h2>
<p class="text-center"><small class="text-muted">This number updates on the 1st of each month</small></p>
<h3 class="text-center">Donate</h3>
<p>You can donate one-offs with <a href="https://blockchain.info/address/16bLCCSLYoq5dWU3GkUQBF4Ei7cS2TeX4c">bitcoin</a>.
Other means of donating are going to be in place soon, if you can't use bitcoin then don't sweat it.</p>
{% endblock %}
