body {
    background: #F7F7F7;
}

nav {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.moe {
    position: fixed;
    bottom: 0;
    right: 20px;
}

.container {
    width: 600px;
    position: relative;
    z-index: 1;
    background: rgba(247, 247, 247, 0.7);
}

.modal-backdrop {
    z-index: 10;
}

.modal {
    z-index: 11;
}

.table {
    table-layout: fixed;

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.upload {
    margin-bottom: 20px;
    margin-top: 20px;

    .target {
        background: rgba(202, 230, 190, 0.75);
        border: 1px solid #B7D1A0;
        border-radius: 4px;
        display: block;
        width: 100%;
        text-align: center;
        color: #468847;
        cursor: pointer;
        display: inline-block;
        font-size: 24px;
        padding: 28px 48px;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        transition: background-color 0.25s, width 0.5s, height 0.5s;
    }
    .target:hover,
    .target:active,
    .target:focus,
    .target {
        background-color: rgb(188, 228, 170);
        text-decoration: none;
    }
}

#qrcode {
    text-align: center;
    margin: 5px 0;

    img {
        display: inline !important;
    }
}
